{% extends 'post/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="row border-bottom mb-2" >
        <div class="col-sm-9">
            <h1>{{ user.username }}</h1>
            <p>{{ profile.current_position }} at {{ profile.current_company }}</p>
            <p>Phone: {{ profile.phone }}</p>
            <p>Address: {{ profile.address }}</p>
            <a class="btn btn-primary mb-2" href="{% url 'user_profile:profile_update' profile.id %}" role="button">Update
                Profile</a>
        </div>


        <div class="col-sm-2">
            <img src="{{ profile.image.url }}" class="rounded-circle rounded float-right" alt="profile_picture">
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Position</th>
                    <th>Company</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for post in post_queryset %}
                    <tr>
                        <td><a href="{% url 'blog:post_detail' post.id %}">{{ post.position }}
                            at {{ post.companyName }}</a></td>
                        <td>{{ post.companyName |truncatechars:40|safe }}</td>
                        <td>{{ post.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}